
.bot{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.chat-container {
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  margin-bottom: 10px;
  bottom: 0;
  
}

.chat-header {
  padding: 16px;
  border-bottom: 1px solid #eee;
}
.chat-header i {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 18px;
  color: #777;
}

.chat-header i:hover {
  cursor: pointer;
  color: #ff0000;
}


.chat-header h3 {
  margin: 0;
  font-size: 16px;
}

.chat-header span {
  font-size: 13px;
  color: #777;
}

.chat-messages {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
  max-width: 300px;
}

.message {
  max-width: fit-content;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.message.user {
  background: #007aff;
  color: white;
  margin-left: auto;
  border-bottom-right-radius: 2px;
}

.message.bot {
  background: #f0f1f3;
  color: #333;
  margin-right: auto;
  border-bottom-left-radius: 2px;
}

.chat-input {
  display: flex;
  border-top: 1px solid #eee;
}

.chat-input input {
  flex: 1;
  padding: 14px;
  border: none;
  font-size: 14px;
}

.chat-input input:focus {
  outline: none;
}

.chat-input button {
  padding: 0 18px;
  border: none;
  background: #007aff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.chat-input button:disabled {
  background: #aaa;
  cursor: not-allowed;
}
